
<script>
    var currentId;
    function sectionEdit(){
        var id = $(this).data('id');
        var element = $('#'+ id);
        var args = element.data('args');

        $('#modalAddSection').modal('show');
        $("#input_sectionTitle").val(args.title);
        $("#input_sectionContent").val(args.text);
        currentId = id;
    }

    $(document).ready(function() {

        var sectionId = 0;
        $('#btnAddSection').click(function(){
            addSection(currentId);
        });

        function addSection(id){
            var newSection = (id == undefined);
            var newId = (newSection ? (sectionId++)+'_section' : id);

            $('#modalAddSection').modal('hide');
            var title = $("#input_sectionTitle").val();
            var text = $("#input_sectionContent").val();

            var data = {kind: 'section', title: title, text: text};

            var specialPart = "<h2>"+title+"</h2>"+text
            var element = $(
                "<div id='"+newId+"' class='latex_element well' draggable='true' ondragstart='drag(event)'>"+
                "<div class='cont_label_well'><span class='label_well'>Section</span></div>"+
                    "<div id='sectionHTML_"+newId+"'>"+
                    specialPart+
                    "</div><br /><br />"+
                    "<div class='btn-group'>" +
                        "<button type='button' class='btn btn-default editSection' data-id='"+ newId +"'>" +
                            "<span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>" +
                        "</button>"+
                        "<button type='button' class='btn btn-default btn-ms addsubsection' data-id='"+ newId +"' >" +
                                "<span class='glyphicon glyphicon-plus' ></span> Add subsection" +
                            "</button>"+
                        "<button type='button' class='btn btn-danger delete' data-id='"+ newId +"' title='Delete'>" +
                            "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>" +
                        "</button>"+
                    "</div>" +
                "</div>");

            if (newSection){
                $('#parteMovil').append(element);
            }
            else {
                $("#sectionHTML_"+newId).html(specialPart);
            }
            $('#'+newId).data('args', data);
            bind();
        }
    });
</script>

<div class="modal fade" id="modalAddSection" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add section</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="input_sectionTitle">Title</label>
                    <input type="text" class="form-control" id="input_sectionTitle" placeholder="Title">
                    <label for="input_sectionContent">Text</label>
                    <textarea class="form-control" id="input_sectionContent" placeholder="Section content..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="btnAddSection">Add</button>
            </div>
        </div>
    </div>
</div>