<div class="modal fade" id="modalAddSubsubsection" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add subsubsection</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="input_subsubsectionTitle">Title</label>
                    <input type="text" class="form-control" id="input_subsubsectionTitle" placeholder="Title">
                    <label for="input_subsubectionContent">Text</label>
                    <textarea class="form-control" id="input_subsubectionContent" placeholder="Subsubsection content ..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="btnAddSubsubsection">Add</button>
            </div>
        </div>
    </div>
</div>