<div class="modal fade" id="modalAddsubsection" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add subsection</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="input_subsectionTitle">Title</label>
                    <input type="text" class="form-control" id="input_subsectionTitle" placeholder="Title">
                    <label for="input_subsectionContent">Text</label>
                    <input type="text" class="form-control" id="input_subsectionContent" placeholder="Subsection content ...">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="btnAddSubsection">Add</button>
            </div>
        </div>
    </div>
</div>


