
<script>
    $(document).ready(function() {

        $('#btnAddTitle').click(function(){
            $('#modalAddTitle').modal('hide');
            var title = $("#input_titleDoc").val();
            var authors = $("#input_authors").val();
            var date = $("#checkbox_date").prop('checked');

            var data = {kind: 'title', title: title, authors: authors, date: date};

            $('#title').remove();
            $('#document').prepend(
                "<div id='title' class='title latex_element well'>"+
                    "<h1>"+title+"<h1>"+
                    authors +
                    "<br><button type='button' class='btn btn-danger delete' data-id='title'>" +
                        "<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>" +
                    "</button>"+
                "</div>");
            $('#title').data('args', data);
            bind();
        });

    });
</script>

<div class="modal fade" id="modalAddTitle" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add title</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="input_titleDoc">Title</label>
                    <input type="text" class="form-control" id="input_titleDoc" placeholder="Title">
                    <label for="input_authors">Authors</label>
                    <input type="text" class="form-control" id="input_authors" placeholder="Rahid, Sheldon, ...">
                    <label class="form-check-label">
                        Date
                        <input class="form-check-input" type="checkbox" value="" id="checkbox_date">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="btnAddTitle">Add</button>
            </div>
        </div>
    </div>
</div>