<form action="/upload" method="post" enctype="multipart/form-data">
    <b>Upload image</b><br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Name</span>
        <input name="name" type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
    </div>
    <br>
    <input type="file" name="resource" id="resource">
    <br>
    <input type="submit" value="upload" name="submit">
</form>