body {
  padding: 50px;
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.latex_element {
  margin: 10px;
}

.label_well
{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	display: block;
	padding: 5px 8px;
	font-size: 12px;
	color: #767676;
	background-color: #fff;
	border: 1px solid #e1e1e8;
	border-radius: 0 4px 0 4px;
	margin-right: -20px;
	margin-top: -20px;
}

.cont_label_well
{
	position: relative;
}

#control {
  background-color: white;
  position: fixed;
  width:  100%;
  z-index: 1000;
  padding-top: 50px;
  padding-left: 50px;
  top: 0;
  left: 0;
}

#document {
  margin: 0px;
}

#container {
  margin-top: 215px;
}

#gallery {
    right: 35px;
    position: fixed;

}